 -----------------------------------------------------------------------------
 Download
 -----------------------------------------------------------------------------

Download

* Binaries

  First of all you need the platform independent Java library for usb4java: 

  * {{{${releasesUrl}/usb4java-${project.version}.jar}usb4java-${project.version}.jar}}
  
  []
  
  Additionally you need the JAR file which contains the native libraries for
  all supported platforms. This JAR file also contains the libusb
  shared library for Windows and Mac OS X. Linux users must install the
  libusb package included in their Linux distribution (Usually a package 
  called libusb, make sure it is version 0.x and not the newer 1.x).

  * {{{${releasesUrl}/usb4java-natives-${project.version}.jar}usb4java-natives-${project.version}.jar}}
  
  []
  
  If you prefer using bleeding edge snapshots then you can download
  them from the {{{$snapshotsUrl/}snapshot repository}}.


* Sources

  Sources (Java and C) are available in 
  the {{{./source-repository.html}source repository}}.
