 -----------------------------------------------------------------------------
 FAQ
 -----------------------------------------------------------------------------
 
Frequently asked questions

  If you have a question which is not answered here please drop me a mail
  at {{{mailto:k@ailis.de}k@ailis.de}}.

* Why are there no frequently asked questions here?

  Because no one asked one so far. <usb4java> is pretty new and if you are
  reading this you may be the first person who is interested in it. Please give
  it a try and give me feedback.



