downloads
*.o
*.lo
*.la
*.tar.gz
autom4te.cache
Makefile
config.h
config.h.in~
config.log
config.status
libtool
stamp-h1
.deps
.libs
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4
missing
ar-lib
