<?xml version="1.0" encoding="UTF-8"?>
<document>
  <properties>
    <title>About</title>
  </properties>
  <body>
    <section name="What is usb4java?">
      <p>
        usb4java is a Java library to access USB devices. It is based on
        the native <a href="http://libusb.info/">libusb 1.0</a> library
        and uses Java NIO buffers for data exchange between libusb and Java.
        usb4java also supports the
        <a href="http://javax-usb.sourceforge.net/">javax-usb standard (JSR-80)</a>
        through the <a href="usb4java-javax/">usb4java-javax extension</a>.
      </p>
      <p>
        Supported platforms are <strong>Linux</strong> (x86 32/64 bit, ARM 32 bit), 
        <strong>OS X</strong> (x86 32/64 bit) and 
        <strong>Windows</strong> (x86 32/64 bit). But other platforms may work
        as well (as long as they have at least Java 6 and are supported by 
        libusb) by compiling the JNI library manually.
      </p>
    </section>
    
    <section name="Download">
      <ul class="download">
        <li>
          Main library:<br />
          <strong><a href="${artifactBaseUrl}.tar.bz2">${project.artifactId}-${project.version}.tar.bz2</a></strong><br />
          <strong><a href="${artifactBaseUrl}.zip">${project.artifactId}-${project.version}.zip</a></strong><br />
        </li>
        <li>
          javax-usb extension:<br />
          <strong><a href="${javaxArtifactBaseUrl}.tar.bz2">${project.artifactId}-javax-${usb4javaJavaxVersion}.tar.bz2</a></strong><br />
          <strong><a href="${javaxArtifactBaseUrl}.zip">${project.artifactId}-javax-${usb4javaJavaxVersion}.zip</a></strong><br />
        </li>
        <li><a href="${repoBaseUrl}/">Older versions and snapshots</a></li>
        <li>
          Source code repository:
          <a href="http://github.com/usb4java/">GitHub</a> 
        </li>
      </ul>
      <p>
        When you are using Maven then you can add the necessary dependencies 
        like this:
      </p>
      <div class="source"><pre>&lt;-- For using just usb4java without javax-usb --&gt;
&lt;dependencies&gt;
  &lt;dependency&gt;
    &lt;groupId&gt;${project.groupId}&lt;/groupId&gt;
    &lt;artifactId&gt;${project.artifactId}&lt;/artifactId&gt;
    &lt;version&gt;${project.version}&lt;/version&gt;
  &lt;/dependency&gt;
&lt;/dependencies&gt;

&lt;-- For using usb4java with javax-usb --&gt;
&lt;dependencies&gt;
  &lt;dependency&gt;
    &lt;groupId&gt;${project.groupId}&lt;/groupId&gt;
    &lt;artifactId&gt;${project.artifactId}-javax&lt;/artifactId&gt;
    &lt;version&gt;${usb4javaJavaxVersion}&lt;/version&gt;
  &lt;/dependency&gt;
&lt;/dependencies&gt;</pre></div>
    </section>
    
    <section name="License">
      <p>
        Copyright (C) 2011 Klaus Reimer, k@ailis.de<br />  
        Copyright (C) 2013 Luca Longinotti, l@longi.li
      </p>
      
      <p>
        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:
      <p>
      <p>
        The above copyright notice and this permission notice shall be included in
        all copies or substantial portions of the Software.
      </p>
      <p>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
        THE SOFTWARE.
      </p>
    </section>
    
    <section name="Getting started">
      <p>
        Read the <a href="quickstart/index.html">quick start guide</a> and the 
        <a href="faq.html">FAQ</a>. There are also some
        <a href="https://github.com/usb4java/usb4java-examples/">low-level (libusb) examples</a>
        and 
        <a href="https://github.com/usb4java/usb4java-javax-examples/">high-level (javax-usb) examples</a>
        available.
      </p>
    </section>
        
    <section name="Support">
      <p>
        For questions and discussions please use the 
        <a href="mailto:usb4java@googlegroups.com">usb4java mailing list</a> 
        (<a href="http://groups.google.com/group/usb4java">Google group</a>).
        You can subscribe to it via email by sending a mail to 
        <a href="mailto:usb4java+subscribe@googlegroups.com">usb4java+subscribe@googlegroups.com</a>.
      </p>
      <p> 
        If you have found a bug in the software or this
        web site (even if it's just a typo) then please create
        an <a href="${project.issueManagement.url}">issue on GitHub</a>. 
      </p>
    </section>
  </body>
</document>
